@import "tailwindcss";

:root {
  --grabme-green: #7ac943;
  --grabme-black: #070707;
  --grabme-charcoal: #121212;
  --grabme-soft: #f7f7f7;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background: #070707;
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
}